{% extends "base_template_login.html" %}
{% load bootstrap %}

{% block conteudo %}

    <div class="row col-lg-8 centralizado">
    <!-- <div class="page-header"> -->
        <div style="margin-left: 10%;">
            <h1>Welcome to game for learn english</h1>
        </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-lg-6 centralizado">            

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
                    <li><a href="#cadastro" data-toggle="tab">Cadastre-se</a></li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    
                <!-- LOGIN -->
                <div class="well bs-component tab-pane fade active in" id="login">
                    {% if form %}

                        <br>
                        <form method="POST" action="." class="form-horizontal">
                            {% csrf_token %}

                            <!-- {{form|bootstrap}} -->

                            {% for field in form %}
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">
                                        {{ field.label_tag }}
                                    </label>
                                    <div class="col-lg-10">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}

                            <input type="submit" class="btn btn-success" value="Login"/>
                        </form>
                    {% else %}
                    
                        <a href="{% url 'url_login' %}">
                            <button type="button" class="btn btn-primary">Jogar</button>
                        </a>

                    {% endif %}
                </div>

                <!-- CADASTRE-SE -->

                <div class="well bs-component tab-pane fade" id="cadastro">
                    
                </div>                  
                </div>

            </div>
        </div>
    </div>
    
{% endblock %}


